<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 사용해 주변 관광지/축제 추천, 거리순 정렬에 활용합니다.
예: ‘내 주변 스팟’에서 반경 1km 내 장소를 보여줍니다. 위치 정보는 기기에서만 사용되며 서버로 전송·저장되지 않습니다.</string>
	<key>APIKey</key>
	<string>$(serviceKey)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GwangyangSunshineRegular.otf</string>
		<string>GwangyangSunshineBold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
